header
  img(src="http://placehold.it/200x200?text=Logo").logo

  h1 NPM Build Tool
  p.l-emphasis Jade, Sass & Browserify on NPM scripts
  nav.nav-vertical
    ul.nav-vertical__list
      li.nav-vertical__item: a(href="#") Getting Started
      li.nav-vertical__item: a(href="#") Installation
